* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

:root {
    --filler: white;
    --body: #EEEEEE;
    --sidebar: #3674B5;
    --button-hover: #6F9DCD;
    --button-focus: #94B6DF;
    --accent: #FADA7A;

    --profile-1: #EA5B6F;
    --profile-2: #FF894F;
    --profile-3: #E195AB;
    --profile-4: #74E291;
}

/* LAYOUT */

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--sidebar);
    height: 100%;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    background-color: var(--filler);
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.5);

    display: grid;
    grid-template-rows: 1fr 1fr;

    height: fit-content;
    padding: 1em;
}

body,
html {
    height: 100vh;
    width: 100vw;
}

/* HEADER */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: fit-content;
    gap: 5%;
}

.search-container {
    display: flex;
    justify-content: start;
    flex: 1 2 auto;
    width: min-content;
    gap: 1em;
}

input {
    width: 50em;

    background-color: var(--body);
    border-radius: 1em;
    border: none;

    padding: 1em;
    box-shadow: inset 0 0 0.3em 0 rgba(0, 0, 0, 0.5);

    flex: 0.5 1 auto;
}

.profile-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1em;
    flex: 1 1 auto;
}

.inner-header-container,
.account-container {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.inner-header-container {
    justify-content: space-between;
}

.account-container {
    gap: 1em;
}

.action-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    gap: 20%;
}


/* IMAGES */

.icon {
    height: 2.5em;
    width: 2.5em;
}

.sidebar .icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%);
}

.profile-container > img.small-profile {
    background-color: var(--accent);
    border-radius: 50%;
    padding: 4px;

    height: 3em;
    width: 3em;
}

.title-container > img,
.account-container > img {
    height: 5em;
    width: 5em;
}

.account-container > img {
    background-color: var(--accent);
    border-radius: 5em;
    padding: 10px;
}