* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

:root {
    --filler: white;
    --body: #EEEEEE;
    --sidebar: #3674B5;
    --button-hover: #6F9DCD;
    --button-focus: #94B6DF;
    --accent: #FADA7A;

    --profile-1: #EA5B6F;
    --profile-2: #FF894F;
    --profile-3: #E195AB;
    --profile-4: #74E291;
}

/* LAYOUT */

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--sidebar);
}

/* IMAGES */

.icon {
    height: 2.5em;
    width: 2.5em;
}



.profile-container > img.small-profile {
    background-color: var(--accent);
    border-radius: 1em;
    padding: 4px;

    height: 3em;
    width: 3em;
}