* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

:root {
    --filler: white;
    --body: #EEEEEE;
    --sidebar: #3674B5;
    --button-hover: #6F9DCD;
    --button-active: #94B6DF;
    --accent: #FADA7A;

    --profile-1: #EA5B6F;
    --profile-2: #FF894F;
    --profile-3: #E195AB;
    --profile-4: #74E291;
}

/* LAYOUT */

.container {
    display: grid;
    grid-template-columns: 0.5fr 10fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--sidebar);
    height: 100%;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    background-color: var(--filler);

    display: grid;
    grid-template-rows: 1fr 1fr;

    height: fit-content;
    padding: 1em;
}

body,
html {
    height: 100vh;
    width: 100vw;
}

/* HEADER */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: fit-content;
    gap: 5%;
}

.search-container {
    display: flex;
    justify-content: start;
    flex: 1 2 auto;
    width: min-content;
    gap: 1em;
}

input {
    width: 50em;

    background-color: var(--body);
    border-radius: 1em;
    border: none;

    padding: 1em;
    box-shadow: inset 0 0 0.3em 0 rgba(0, 0, 0, 0.5);

    flex: 0.5 1 auto;
}

.profile-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1em;
    flex: 1 1 auto;
}

.inner-header-container,
.account-container {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.inner-header-container {
    justify-content: space-between;
    margin-bottom: 1em;
}

.account-container {
    gap: 1em;
}

.action-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    gap: 20%;
}

.action {
    background-color: var(--sidebar);
    color: var(--filler);
    width: 9em;
    text-align: center;
    padding: 1em;
    border-radius: 1.5em;
    border: none;
}

.action:hover,
.action:focus {
    background-color: var(--button-hover);
    width: 9.1em;
}

.action:active {
    background-color: var(--button-active);
    width: 9.2em;
}

/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 5em;

    color: var(--filler);
}

.title-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.link-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.link-sub-container {
    display: flex;
    justify-content: start;
    gap: 1em;
    align-items: center;
}

.link-sub-container:hover {
    text-decoration: underline;
    font-size: 1.05em;
}

.link-sub-container:active {
    font-size: 1.1em;
}

/* BODY */

.body {
    background-color: var(--body);

    padding: 2em;

    box-shadow: inset 1em 1em 1em 0 rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 2em;
}

h3,
h4,
.intro-container > h2,
.profile-container > h3,
.exterior-announcements-container > h2,
.exterior-projects-container > h2,
.exterior-trending-container > h2 {
    font-weight: bold;
}

.exterior-projects-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.exterior-announcements-container,
.exterior-trending-container {
    grid-column: 2 / 3;
}

.exterior-announcements-container {
    grid-row: 1 / 2;
}

.exterior-trending-container {
    grid-row: 2 / 3;
}

.projects-container {
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-column: 1 / 2;
    gap: 25px;
}

.projects-container,
.announcements-container,
.trending-container {
    margin-top: 1em;
}

.card {
    background-color: var(--filler);
    min-height: 300px;
    height: 1fr;
    width: 1fr;
    
    padding: 2em;

    border-radius: 1em;
    box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.2),
                inset 1em 0 0 0 var(--accent);

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.post-action-container {
    align-self: end;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1em;
}

.project-header + p {
    margin-bottom: 1em;
}

.announcements-container,
.trending-container {
    background-color: var(--filler);
    padding: 2em 1em;
    border-radius: 1em;
    min-height: 500px;
    box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
}

.announcements-container {
    justify-content: space-evenly;
    text-align: left;
}

.announcements-container p:not(:nth-child(3)) {
    border-bottom: 2px solid var(--body);
    padding-bottom: 1em;
}

.trending-container {
    justify-content: space-between;
}

.profile-container {
    border: 1px solid red;
    display: flex;
    justify-content: start;
}

h5,
.small-profile {
    font-size: 1em;
}

h5 + p {
    font-size: 0.9em;
}

/* IMAGES */

.icon {
    height: 2.5em;
    width: 2.5em;
}

.icon:hover {
    height: 2.55em;
    width: 2.55em;
}

.icon:active {
    height: 2.6em;
    width: 2.6em;
}

.sidebar .icon,
.title-container img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%);
}

.profile-container > img.small-profile {
    background-color: var(--accent);
    border-radius: 50%;
    padding: 4px;

    height: 3em;
    width: 3em;
}

.title-container > img,
.account-container > img {
    height: 5em;
    width: 5em;
}

.account-container > img {
    background-color: var(--accent);
    border-radius: 5em;
    padding: 10px;
}